$brand-primary: #03a9f4;
$brand-color: #643a79;
$black: #000;
$white: #fff;
$gray: #f2f2f2;
$default-color: $black;
$default-font-size: 21px;
$brand-font-size: 17px;
$brand-font-family: 'robotoregular', Arial, Helvetica, sans-serif;
$default-font-family: 'robotoregular', Arial, Helvetica, sans-serif;
$default-line-height: 1.2;
